html {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
}
body {
    position: relative;
    margin: 0;
    background-color: #272727;
    color: #008eff;
    & a {
        text-decoration: none;
        color: #008eff;
    }
    & h1 {
        display: block;
        text-align: center;
    }
    
}
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    & nav {
        /*position: absolute;*/
        margin-left: auto;
        min-width: 75%;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    & img {
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & img {
        width: 95%;

    }
}