html {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
}
body {
    background-clip: border-box;
    background-image: url("src/back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    position: relative;
    margin: 0;
    background-color: #09001b;
    color: #ddf0fb;
    font-size: 1.5rem;
    & a {
        text-decoration: none;
        color: #ddf0fb;
    }
    & h1 {
        display: block;
        text-align: center;
    }
    & .img {
        width: 90%;
    }
     .slider{
        position:relative;
        width: clamp(320px, 80vw, 900px);
        height: clamp(500px, 45vw, 900px);
        margin:auto;
        overflow:hidden;
        border-radius: 15px;
    }
    .slides{
        display:flex;
        height:100%;
        transition: cubic-bezier(.34,1.56,.64,1) transform .5s ;
    }

    .slide{
        width:100%;
        height:100%;
        object-fit:cover;
        object-position: center;
        flex-shrink:0;
    }

    /* кнопки */
    button{
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        background:rgba(0,0,0,.5);
        color:white;
        border:none;
        padding:10px 14px;
        cursor:pointer;
    }
    .sign {
        margin-top: 50px;
        position: static;
        border-radius: 20px;
        padding: 20px 28px;
    }

    .prev{ left:10px; }
    .next{ right:10px; }

    /* dots */
    .dots{
        position:absolute;
        bottom:12px;
        width:100%;
        text-align:center;
    }

    .dot{
        display:inline-block;
        width:10px;
        height:10px;
        margin:5px;
        border-radius:50%;
        background:#bbb;
        cursor:pointer;
        transition:.3s;
    }

    .dot.active{
        background:white;
        transform:scale(1.3);
    }
    .text {
        width: clamp(320px, 80vw, 900px);
        height: clamp(200px, 45vw, 500px);
        margin:auto;
        font-size:1.5rem;
    }
}
header {

    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
background-color: rgba(15, 7, 30, 0.45);
    & nav {
        /*position: absolute;*/
        margin-left: auto;
        min-width: 75%;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    & img {
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & img {
        width: 95%;

    }
}